* {
    font-family: 'Roboto', sans-serif;
}

.quiz {
    padding: 0 60px;
    padding-top: 90px;    
}

.question-number {
    margin-top: 0;
}

.start-box {
    padding: 0 60px;
    padding-top: 90px;
}

html {
    margin-top: 17px;
}

.hidden {
    display: none;
}

.final-score-page {
    padding: 0 60px;
    padding-top: 90px;
}